.numero {
    background-color: lightsteelblue;
    border-color: blue;
    height: 3em;
    width: 10em;
    border-radius: 5px;
}

.operatione {
    background-color: lightsteelblue;
    border-color: blue;
    height: 1.5em;
    width: 2.5em;
    border-radius: 5px;
}

.ratatata {
    border-color: blue;
    width: 2.5em;
    size: 3em;
    height: 1.5em;
    border-radius: 5px;
}

.textonzio {
    color: white;
    font-size: 1.3em;
    font-family: 'quick sand',sans-serif;
}

.textonzian {
    border-color: blue;
    width: 2.5em;
    size: 3em;
    height: 1.5em;
    border-radius: 5px;
    padding: 1.2em;
    color: white;
    font-size: 2.3em;
    font-family: 'quick sand',sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(630deg,rgb(90, 6, 90),rgba(143, 7, 125, 0.699),rgba(5, 197, 223, 0.699),rgba(144, 7, 223, 0.699));
    background-size: 200%;
    animation: bganimation 60s infinite;
}

@keyframes bganimation {
    0%{
        background-position: 0% 50%;
}
    50%{
        background-position: 100% 50%;
}
    100%{
        background-position: 0% 50%;
}
}
